.dialog-title{
    text-align: center;
}

.dialog-container{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
}

.dialog-actions{
    grid-column: span 2 / span 2;
    display: flex;
    justify-content: end;
    padding-bottom: 20px;
}

.modal-input{
    margin: 0px;
}