<button mat-raised-button class="add-node-button" (click)="addNode()">
  Add Node
</button>
<!-- <app-custom-table
  [dataSource]="dataSource"
  [displayedColumns]="displayedColumns"
  [headerLabels]="headerLabels"
  [deleteAction]="true"
  [editAction]="true"
  (editEmitter)="editNode($event)"
  (deleteEmitter)="deleteNode($event)"
></app-custom-table> -->

<!-- TABLE WITH SORTING -->
<!-- <app-custom-sort
  [tableData]="tableData"
  [displayedColumns]="displayedColumns"
  [headerLabels]="headerLabels"
  [deleteAction]="true"
  [editAction]="true"
  [sort]="true"
  (sortEmitter)="handleSort($event)"
  (editEmitter)="editNode($event)"
  (deleteEmitter)="deleteNode($event)"
></app-custom-sort> -->

<!-- TABLE WITH PAGINATION -->
<app-paginator
  [tableData]="tableData"
  [displayedColumns]="displayedColumns"
  [headerLabels]="headerLabels"
  [deleteAction]="true"
  [editAction]="true"
  [sort]="true"
  [paginator]="true"
  [dataLength]="100"
  [pageSize]="limit"
  [pageSizeOptions]="[1, 2, 3, 4, 5, 10, 20]"
  (paginatorEmitter)="handlePagination($event)"
  (sortEmitter)="handleSort($event)"
  (editEmitter)="editNode($event)"
  (deleteEmitter)="deleteNode($event)"
></app-paginator>
